*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-add{
  align-items: last baseline;
  justify-content: space-between;
  background-color: rgb(235, 232, 232);
  padding: 30px;
  margin-top: 80px;
}
.section-artical{
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  margin-left: 15%;
  padding: 20px;
}

